version: '3'

networks:
  {{ .Values.environment }}:
    name: {{ .Values.environment }}
    driver: bridge

services:

  web-service:
    image: {{ .Values.cnt_registry }}/{{ .Values.svc_web_image }}-{{ .Values.environment }}
    container_name: {{ .Values.environment }}-{{ .Values.svc_web_name }}
    build:
      context: {{ .Values.svc_web_path }}
      dockerfile: Dockerfile
    restart: {{ .Values.cnt_restart_policy }}
    networks:
      - {{ .Values.environment }}
    environment:
      - PORT={{ .Values.svc_web_port }}
      - ASSEMBLER_SERVICE_URI=assembler-service
      - SERVICE_NAME={{ .Values.svc_web_name }}
      #- ZIPKIN_URI=http://zipkin:9411/api/v2/spans
      #- EnableLogTraceToConsole=true
    expose:
      - {{ .Values.svc_web_port }}
    labels:
      - infra.type={{ .Values.environment }}
      - traefik.enable=true
      - traefik.http.routers.{{ .Values.svc_web_name }}.entrypoints=websecure
      - traefik.http.routers.{{ .Values.svc_web_name }}.rule=Host(`{{ .Values.domain }}`)
      - traefik.http.routers.{{ .Values.svc_web_name }}.tls=true

  assembler-service:
    image: {{ .Values.cnt_registry }}/{{ .Values.svc_assembler_image }}-{{ .Values.environment }}
    container_name: {{ .Values.environment }}-{{ .Values.svc_assembler_name }}
    build:
      context: {{ .Values.svc_assembler_path }}
      dockerfile: Dockerfile
    restart: {{ .Values.cnt_restart_policy }}
    networks:
      - {{ .Values.environment }}
    environment:
      - PORT={{ .Values.svc_assembler_port }}
      - PAGE_SERVICE_URI=page-service
      - SERVICE_NAME={{ .Values.svc_assembler_name }}
      #- ZIPKIN_URI=http://zipkin:9411/api/v2/spans
      #- EnableLogTraceToConsole=true
    expose:
      - {{ .Values.svc_assembler_port }}

  page-service:
    image: {{ .Values.cnt_registry }}/{{ .Values.svc_page_image }}-{{ .Values.environment }}
    container_name: {{ .Values.environment }}-{{ .Values.svc_page_name }}
    build:
      context: {{ .Values.svc_page_path }}
      dockerfile: Dockerfile
    restart: {{ .Values.cnt_restart_policy }}
    networks:
      - {{ .Values.environment }}
    environment:
      - PORT={{ .Values.svc_page_port }}
      - LAYOUT_SERVICE_URI=layout-service
      - CONTENT_SERVICE_URI=content-service
      - WIDGET_SERVICE_URI=widget-service
      - SERVICE_NAME={{ .Values.svc_page_name }}
      #- ZIPKIN_URI=http://zipkin:9411/api/v2/spans
      #- EnableLogTraceToConsole=true
    expose:
      - {{ .Values.svc_page_port }}

  layout-service:
    image: {{ .Values.cnt_registry }}/{{ .Values.svc_layout_image }}-{{ .Values.environment }}
    container_name: {{ .Values.environment }}-{{ .Values.svc_layout_name }}
    build:
      context: {{ .Values.svc_layout_path }}
      dockerfile: Dockerfile
    restart: {{ .Values.cnt_restart_policy }}
    networks:
      - {{ .Values.environment }}
    environment:
      - PORT={{ .Values.svc_layout_port }}
      - SERVICE_NAME={{ .Values.svc_layout_name }}
      #- ZIPKIN_URI=http://zipkin:9411/api/v2/spans
      #- EnableLogTraceToConsole=true
    expose:
      - {{ .Values.svc_layout_port }}

  content-service:
    image: {{ .Values.cnt_registry }}/{{ .Values.svc_content_image }}-{{ .Values.environment }}
    container_name: {{ .Values.environment }}-{{ .Values.svc_content_name }}
    build:
      context: {{ .Values.svc_content_path }}
      dockerfile: Dockerfile
    restart: {{ .Values.cnt_restart_policy }}
    networks:
      - {{ .Values.environment }}
    environment:
      - PORT={{ .Values.svc_content_port }}
      - SERVICE_NAME={{ .Values.svc_content_name }}
      #- ZIPKIN_URI=http://zipkin:9411/api/v2/spans
      #- EnableLogTraceToConsole=true
    expose:
      - {{ .Values.svc_content_port }}

  widget-service:
    image: {{ .Values.cnt_registry }}/{{ .Values.svc_widget_image }}-{{ .Values.environment }}
    container_name: {{ .Values.environment }}-{{ .Values.svc_widget_name }}
    build:
      context: {{ .Values.svc_widget_path }}
      dockerfile: Dockerfile
    restart: {{ .Values.cnt_restart_policy }}
    networks:
      - {{ .Values.environment }}
    environment:
      - PORT={{ .Values.svc_widget_port }}
      - SERVICE_NAME={{ .Values.svc_widget_name }}
      #- ZIPKIN_URI=http://zipkin:9411/api/v2/spans
      #- EnableLogTraceToConsole=true
    expose:
      - {{ .Values.svc_widget_port }}
